<% provide(:title, "Home") %>

<% if signed_in? %>
  <h1>Top 10 Participants</h1>

  <div class="span8">
    <% if @participants.any? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Total Steps</th>
            <th>Steps Behind</th>
            <th>Department</th>
          </tr>
        </thead>
        <tbody>
        <% @participants.each_with_index do |participant, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= link_to participant.name, participant_path(participant) %></td>
            <td><%= number_with_delimiter(participant.steps.total) %></td>
            <td><%= number_with_delimiter(@participants.first.steps.total - participant.steps.total) %></td>
            <td><%= link_to participant.department.name, department_path(participant.department) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
<% end %>
