<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="span6 offset3">
  <%= form_for :session, url: sessions_path, html: { class: 'form-horizontal' }  do |f| %>

    <div class="form-group">
      <%= f.label :email, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :email, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.password_field :password, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit "Sign in", class: "btn btn-primary", id: "submit-button" %>
      </div>
    </div>
  <% end %>
</div>
