<% provide(:title, 'Participants') %>
<h1>Participants</h1>

<%= will_paginate %>

<% if current_user.admin? %>
  <div class="span6 offset3">
    <%= link_to 'Add Participant', new_participant_path, class: 'btn btn-primary' %>
  </div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Total Steps</th>
      <th>Average Steps</th>
      <th>Department</th>
      <% if current_user.admin? %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% @participants.sort { |a,b| b.steps.total <=> a.steps.total}.each do |participant| %>
    <tr>
      <td><%= link_to participant.name, participant_path(participant) %></td>
      <td><%= number_with_delimiter(participant.steps.total) %></td>
      <td><%= number_with_delimiter(participant.steps.avg) %></td>
      <td><%= link_to participant.department.name, department_path(participant.department) %></td>
      <% if current_user.admin? %>
        <td>
          <%= link_to 'Edit', edit_participant_path(participant), class: 'btn btn-mini btn-default' %>
          <%= link_to 'Delete', participant, method: :delete, data: { confirm: "Are you sure you want to delete this user?" }, class: 'btn btn-mini btn-danger' %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate %>
