<% provide(:title, @participant.name) %>
<h1><%= @participant.name %></h1>

<% if @steps.any? %>
  <h2>Total steps: <%= number_with_delimiter(@steps.total) %> | Average steps: <%= number_with_delimiter(@steps.avg) %></h2>
<% end %>

<div id="d3" class="span6 offset3">
</div>

<% if current_user.admin? %>
  <div class="span6 offset3">
    <%= link_to 'Add Steps', new_participant_step_path(participant_id: @participant.id), class: 'btn btn-primary' %>
  </div>
<% end %>

<%= will_paginate @steps %>

<div class="span8">
  <% if @steps.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Number of Steps</th>
          <% if current_user.admin? %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
      <% @steps.each do |step| %>
        <tr>
          <td><%= step.date.to_date %></td>
          <td><%= number_with_delimiter(step.num_steps) %></td>
          <% if current_user.admin? %>
            <td>
              <%= link_to 'Edit', edit_participant_step_path(participant_id: @participant.id), class: 'btn btn-mini btn-default' %>
              <%= link_to 'Delete', participant_step_path(participant_id: @participant.id), method: :delete, data: { confirm: "Are you sure you want to delete this participant?" }, class: 'btn btn-mini btn-danger' %>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<%= will_paginate @steps %>

<%= javascript_tag do %>
  function getDate(d) {
    var date = new Date(d.date);
    date.setDate(date.getDate() + 1);
    date.setHours(0, 0, 0, 0);
    return date;
  }

  $(function() {
    var url = <%= @participant.id %> + '.json';
    d3.json(url, function(error, dataset) {
      var width = 960;
      var height = 250;

      var svg = d3.select("#d3")
        .append("svg:svg")
        .attr("viewBox", "0 0 " + width + " " + height);

      var padding = 50;

      var minDate = d3.min(dataset, function(d) { return getDate(d); });
      minDate.setDate(minDate.getDate() - 1);

      var maxDate = d3.max(dataset, function(d) { return getDate(d); });

      var xScale = d3.time.scale()
        .domain([minDate, maxDate])
        .range([padding, width - padding]);

      var yScale = d3.scale.linear()
        .domain([0, d3.max(dataset, function(d) { return d.num_steps; })])
        .range([height - padding, padding]);

      var format = d3.time.format("%d %b");
      var xAxis = d3.svg.axis()
        .scale(xScale)
        .orient("bottom")
        .tickFormat(format)
        .ticks(d3.time.days, 1);

      svg.append("g")
        .attr("class", "axis x-axis")
        .attr("transform", "translate(0," + (height - padding) + ")")
        .call(xAxis)
        .selectAll("text")
        .style("text-anchor", "end")
        .attr("dx", "-0.8em")
        .attr("dy", "-0.55em")
        .attr("transform", "rotate(-90)");

      var yAxis = d3.svg.axis()
        .scale(yScale)
        .orient("left")
        .tickFormat(function (d) { return d; })
        .tickSize(5, 5, 0)
        .ticks(5);

      svg.append("g")
        .attr("class", "axis y-axis")
        .attr("transform", "translate(" + padding + ",0)")
        .call(yAxis)
        .append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".71em")
        .attr("x", "-5em")
        .style("text-anchor", "end")
        .text("Steps");

      var line = d3.svg.line()
        .x(function(d) {
          return xScale(getDate(d));
        })
        .y(function(d) {
          return yScale(d.num_steps);
        });

      svg.append("svg:path").attr("d", line(dataset));

      svg.selectAll("circle")
        .data(dataset)
        .enter()
        .append("circle")
        .attr("class", "data-point")
        .attr("cx", function(d) {
          return xScale(getDate(d));
        })
        .attr("cy", function(d) {
          return yScale(d.num_steps);
        })
        .attr("r", 5);
    });
  });
<%  end %>
