<% provide(:title, 'Edit user') %>
<h1>Change settings</h1>

<div class="span6 offset3">
  <%= form_for @user, html: { class: 'form-horizontal' } do |f| %>
    <%= render 'shared/error_messages' %>

    <div class="form-group">
      <%= f.label :name, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <% if current_user.admin? %>
      <div class="form-group">
        <%= f.label :admin, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <div class="checkbox">
            <%= f.check_box :admin %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :email, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :email, class: 'form-control' %>
      </div>
    </div>

    <% if current_user?(@user) %>
      <div class="form-group">
        <%= f.label :password, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.password_field :password, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirmation", class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit 'Save', class: "btn btn-primary", id: "submit-button" %>
      </div>
    </div>
  <% end %>
</div>
