<% provide(:title, 'Users') %>
<h1>Users</h1>

<%= will_paginate %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <% if current_user.admin? %>
        <th>Admin</th>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <% if current_user.admin? %>
        <td><%= user.admin %></td>
        <td>
          <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-mini btn-default'  %>
          <% if !current_user?(user) %>
            <%= link_to 'Delete', user, method: :delete, data: { confirm: "Are you sure you want to delete this user?" }, class: 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate %>
