<% if @participant.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @participant.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
