<% provide(:title, 'Edit Department') %>
<h1>Edit Department</h1>

<div class="span6 offset3">
  <%= form_for @department, html: { class: 'form-horizontal' } do |f| %>
    <%= render 'shared/department_error_messages' %>

    <div class="form-group">
      <%= f.label :name, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit 'Save', class: "btn btn-primary", id: "submit-button" %>
      </div>
    </div>
  <% end %>
</div>
