<% provide(:title, 'Departments') %>
<h1>Departments</h1>

<%= will_paginate %>

<% if current_user.admin? %>
  <div class="span6 offset3">
    <%= link_to 'Add Department', new_department_path, class: 'btn btn-primary' %>
  </div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of Participants</th>
      <th>Total Steps</th>
      <% if current_user.admin? %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% @departments.each do |department| %>
    <tr>
      <td><%= link_to department.name, department_path(department) %></td>
      <td><%= department.participants.count %></td>
      <td><%= number_with_delimiter(department.participants.map { |p| p.steps.total }.sum) %></td>
      <% if current_user.admin? %>
        <td>
          <%= link_to 'Edit', edit_department_path(department), class: 'btn btn-mini btn-default'  %>
          <%= link_to 'Delete', department, method: :delete, data: { confirm: "Are you sure you want to delete this department?" }, class: 'btn btn-mini btn-danger' %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate %>
