<% provide(:title, @department.name) %>
<h1><%= @department.name %></h1>

<% if @participants.any? %>
  <h2>Total participants: <%= @participants.count %> | Total steps: <%= number_with_delimiter(@total_steps) %></h2>
<% end %>

<% if current_user.admin? %>
  <div class="span6 offset3">
    <%= link_to 'Add Participant', new_participant_path(department_id: @department.id), class: 'btn btn-primary' %>
  </div>
<% end %>

<%= will_paginate @participants %>

<div class="span8">
  <% if @participants.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Total Steps</th>
          <th>Average Steps</th>
          <% if current_user.admin? %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
      <% @participants.each do |participant| %>
        <tr>
          <td><%= link_to participant.name, participant_path(participant)  %></td>
          <td><%= number_with_delimiter(participant.steps.total) %></td>
          <td><%= number_with_delimiter(participant.steps.avg) %></td>
          <% if current_user.admin? %>
            <td>
              <%= link_to 'Edit', edit_participant_path(participant_id: participant.id), class: 'btn btn-mini btn-default' %>
              <%= link_to 'Delete', participant_path(participant_id: participant.id), method: :delete, data: { confirm: "Are you sure you want to delete this step?" }, class: 'btn btn-mini btn-danger' %>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<%= will_paginate @participants %>
