<% provide(:title, 'New Step') %>
<h1>New Step</h1>

<div class="span6 offset3">
  <%= form_for @step, url: participant_steps_path, html: { class: 'form-horizontal' } do |f| %>
    <%= render 'shared/step_error_messages' %>

    <%= f.hidden_field :participant_id, :value => params[:participant_id] %>

    <div class="form-group">
      <%= f.label :num_steps, class:'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :num_steps, class: 'form-control', placeholder: '0' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :date, class:'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <div class="input-group date controls" data-date-format="YYYY-MM-DD HH:MM:ss" id="datetimepicker1">
          <%= f.text_field :date, class: 'form-control' %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(function() {
        $('#datetimepicker1').datetimepicker();
      });
    </script>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit "Create step", class: "btn btn-primary", id: "submit-button" %>
      </div>
    </div>
  <% end %>
</div>
